@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
:root{
    --montaga: Montaga, sans-serif;
    --txt-color: #C6754D;
}

nav{
    margin: 5.2rem 16.4rem;
}
nav span{
    border: solid 0.1rem;
    width: 10.4rem;
    text-align: center;
    border-radius: 50%;
    font-family: var(--montaga);
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3.2rem;

}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
header li{
    font-family: var(--montaga);
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3.2rem;

}
li:hover{
    color:var(--txt-color) ;
    text-decoration:underline;
    text-decoration-color: aliceblue;
}
span:hover{
    color: var(--txt-color);
    text-shadow: 4px 0px 4px black;
    scale: 2;
}
.block1{
    margin-top:10rem ;
}
.block1 div{
     font-family: var(--montaga);
    font-weight: 400;
    text-align: center;
}

.block1 h2{
    font-size: 2.4rem;
    color: var(--txt-color);
}
.block1 h1{
    font-size: 10.1rem;
}
img{
    width: 80%;
    margin:6rem 16rem ;
}